attr==0.3.2
bpython==0.25
colorama==0.4.6
ConfigParser==7.2.0
cryptography==42.0.2
cx_Oracle==8.3.0
Cython==3.1.2
django_phonenumber_field==8.1.0
djangorestframework==3.16.0
dl==0.1.0
docutils==0.18.1
docutils==0.18.1
drf_spectacular==0.28.0
filelock==3.18.0
ghasedak_sms==1.0.3
HTMLParser==0.0.2
ipdb==0.13.13
ipython==8.12.3
ipywidgets==7.6.5
isort==6.0.1
kavenegar==1.1.2
keyring==23.13.1
MySQL-python==1.2.5
numpy==2.3.1
oracledb==3.2.0
pandas==1.5.3
Pillow==11.3.0
protobuf==3.20.3
psycopg==3.2.9
psycopg_pool==3.2.6
pylibmc==1.6.3
pymemcache==4.0.0
pyOpenSSL==24.0.0
pyOpenSSL==25.1.0
pywatchman==3.0.0
PyYAML==6.0.1
PyYAML==6.0.2
railroad==0.5.0
scikit_learn==1.7.1
simplejson==3.20.1
Sphinx==5.0.2
tblib==1.7.0
thread==2.0.5
trove_classifiers==2025.5.9.12
urllib3_secure_extra==0.1.0
xmlrpclib==1.0.1
