Django==5.0.2
django-environ==0.12.0
djangorestframework==3.14.0
drf-spectacular==0.27.1
ghasedak_sms==1.0.3
kavenegar==1.1.2
numpy==2.2.5
pandas==2.2.3
pillow==10.2.0
django-phonenumber-field==7.2.0
scikit-learn==1.6.1
