asgiref==3.8.1
attr==0.3.2
attrs==25.3.0
blessed==1.21.0
bpython==0.25
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
colorama==0.4.6
configparser==7.2.0
coverage==7.4.1
cryptography==42.0.2
curtsies==0.4.3
cwcwidth==0.1.10
dj-database-url==2.3.0
dj-email-url==1.0.6
Django==5.0.2
django-cache-url==3.4.5
django-cors-headers==4.3.1
django-environ==0.12.0
django-filter==23.5
django-phonenumber-field==7.2.0
djangorestframework==3.14.0
drf-spectacular==0.27.1
drf-yasg==1.21.10
environs==11.2.1
ghasedak_sms==1.0.3
greenlet==3.2.3
gunicorn==21.2.0
idna==3.10
inflection==0.5.1
iniconfig==2.1.0
joblib==1.4.2
jsonschema==4.23.0
jsonschema-specifications==2025.4.1
kavenegar==1.1.2
marshmallow==3.23.1
numpy==2.2.5
packaging==24.2
pandas==2.2.3
phonenumbers==8.13.22
pillow==10.2.0
pluggy==1.5.0
psycopg2-binary==2.9.9
pycparser==2.22
Pygments==2.19.2
pytest==8.0.0
pytest-cov==4.1.0
pytest-django==4.8.0
python-dateutil==2.9.0.post0
python-decouple==3.8
python-dotenv==1.0.0
pytz==2025.2
pyxdg==0.28
PyYAML==6.0.2
redis==5.0.1
referencing==0.36.2
requests==2.32.3
rpds-py==0.24.0
scikit-learn==1.6.1
scipy==1.15.2
six==1.17.0
sqlparse==0.5.2
threadpoolctl==3.6.0
typing_extensions==4.12.2
tzdata==2025.2
uritemplate==4.1.1
urllib3==2.3.0
wcwidth==0.2.13
whitenoise==6.6.0
